# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
AdventOfCode/2020/cmake-build-debug

# Intellij
AdventOfCode/2020/.idea
AdventOfCode/2022/.idea


LeetCode/cmake-build-debug
LeetCode/.idea
LeetCode/.vs
LeetCode/out